body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 8px;
}
button{
    margin: 20px;
    background: rgb(90, 234, 90);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
}